.dealcars__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 6rem;
}

.dealcars__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dealcars__navbar-links_logo {
  margin-right: 2rem;
}

.dealcars__navbar-links_logo img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.dealcars__navbar-links_container {
  display: flex;
}

.dealcars__navbar-links_container p {
  color: #fff;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 25px;

  margin: 0 1rem;
  cursor: pointer;
}
